.portfolio__container {
  grid-template-columns: repeat(4, 1fr);
}
.portfolio__category {
  margin-bottom: 35px;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}
.portfolio__category button {
  cursor: pointer;
}
.portfolio__category button.active {
  background-color: var(--accent-color);
}
.portfolio__modal {
  position: fixed;
  inset: 0;
  background-color: hsla(0, 0%, 0%, 0.7);
  z-index: 1000;
  display: grid;
  place-items: center;
  padding: 15px;
}
.portfolio__modal-content {
  background-color: var(--container-color);
  max-width: 650px;
  width: 100%;
  padding: 32px;
  position: relative;
  border-radius: 10px;
  text-align: center;
}
.modal__close {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 25px;
  height: 25px;
  filter: invert(0.8);
}
.modal__title {
  text-align: center;
  color: var(--accent-color);
  font-size: var(--h2-font-size);
  letter-spacing: 2px;
  margin-bottom: 24px;
}
.modal__list {
  grid-template-columns: repeat(2, 1fr);
  row-gap: 10px;
  margin-bottom: 24px;
}
.modal__list.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: var(--border-color);
  padding: 20px;
  border-radius: 10px;
  text-align: left;
}
.modal__item {
  display: flex;
  align-items: center;
  column-gap: 8px;
}
.item__icon {
  display: flex;
  margin-bottom: 5px;
  font-size: var(--large-font-size);
}
.item__title,
.item__details {
  color: var(--title-color);
  font-size: var(--small-font-size);
}
.item__details {
  font-weight: var(--weight-400);
}
.item__details span {
  background: var(--accent-color);
  padding: 1px 8px;
  border-radius: 50px;
  font-size: var(--tiny-font-size);
  color: var(--body-color);
  margin-right: 5px;
  font-weight: var(--weight-500);
}
.modal__img {
  width: 100%;
  object-fit: cover;
}
.portfolio__item {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  border: 1px solid;
  border-color: var(--border-color);
}
.portfolio__img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  vertical-align: middle;
}
.portfolio__hover {
  background-color: var(--accent-color);
  position: absolute;
  inset: 0;
  display: grid;
  place-items: center;
  opacity: 0;
  transition: all 0.5s ease;
}
.portfolio__item:hover .portfolio__hover {
  opacity: 0.8;
}
.portfolio__title {
  color: var(--text-white);
  font-size: var(--large-font-size);
  font-weight: var(--weight-500);
  transform: translateY(-20px);
  transition: all 0.5s ease;
}
.portfolio__item:hover .portfolio__title {
  transform: translateY(0);
}
.modal__list.grid {
  background-color: var(--border-color);
  padding: 20px;
  border-radius: 10px;
  text-align: left;
}
img.modal__img.w-small {
  width: 53%;
}
